{:paths ["src"]
 
 ;; Production dependencies
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        datascript/datascript {:mvn/version "1.7.4"}
        ubergraph/ubergraph {:mvn/version "0.9.0"}}
 
 :aliases 
 {;; Development dependencies
  :dev {:extra-deps {com.github.flow-storm/flow-storm-dbg {:mvn/version "4.4.3"}
                     thheller/shadow-cljs {:mvn/version "2.28.23"}
                     com.phronemophobic/clj-graphviz {:mvn/version "0.6.4"}
                     com.phronemophobic.cljonda/graphviz-darwin-aarch64 {:mvn/version "2.50.0-0.9.5"}
                     org.clojure/clojurescript {:mvn/version "1.11.54"}}}
  
  ;; Test dependencies
  :test {:extra-deps {nubank/matcher-combinators {:mvn/version "3.9.1"}}
         :extra-paths ["test"]}
  
  ;; Build tools
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.4"}
                 slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build}
  
  ;; Uberjar creation
  :uberdeps {:replace-deps {uberdeps/uberdeps {:mvn/version "1.4.0"}}
             :replace-paths []
             :main-opts ["-m" "uberdeps.uberjar"]}}}
